* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: auto;
  height: 100vh;
  background: #ee0979;
  background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979);
  background: -moz-linear-gradient(to bottom, #ff6a00, #ee0979);
  background: -o-linear-gradient(to bottom, #ff6a00, #ee0979);
  background: -ms-linear-gradient(to bottom, #ff6a00, #ee0979);
  background: linear-gradient(to bottom, #ff6a00, #ee0979);
}

.cadre {
  background-color: white;
}

.bouton,
.equal {
  width: 5rem;
  border-radius: 10px;
  border: none;
  font-size: 1.7rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton {
  box-shadow: 0 0 8px rgb(207, 207, 207);
}
.inputGroupValue {
  box-shadow: 0 0 5px rgb(207, 207, 207);
  border-radius: 5px;
}

.bouton,
.inputValue {
  background-color: white;
  color: grey;
}

.bouton {
  cursor: pointer;
}

.inputValue {
  border: none;
  text-indent: 7px;
  font-size: 1.7rem;
}
.equal {
  color: white;
  background-color: #ff6a00;
}

.operator,
.clear {
  font-weight: bold;
}
.clear {
  color: #ff6a00;
}

.clicked-btn {
  box-shadow: 0 0 3px rgb(207, 207, 207);
  background-color: rgb(231, 231, 231);
  color: rgb(40, 40, 40);
  font-size: 95%;
}

@media (max-width: 1200px) {
  .bouton,
  .equal {
    width: 6rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  body {
    max-height: 100vh;
  }
  .content {
    background: white;
  }

  .bouton,
  .equal {
    width: 8rem;
    font-size: 2rem;
  }
  .inputValue {
    font-size: 2rem;
  }
}
