* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bouton, .equal {
    border: none;
    background-color: white;
    cursor: pointer;
}
.equal {
    background-color: blueviolet;
    color: white;
    border-radius: 7px;
}
.inputValue {
    border: none;
    background-color: white;
    color: blueviolet;
    font-weight: bold;

}
.operator {
    color: blueviolet;
}



